@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BOX-SHADOW: 0 2px 4px rgba(0, 0, 0, 0.1);
    --BACKGROUND-COLOR: #5f5f78;
    --BG-SECONDARY: #434455;
    --BG-THIRD: whitesmoke;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr;
    grid-template-rows: 1fr 5fr;
}
body {
    background-color: var(--BG-SECONDARY);
    font-family: Lexend, sans-serif;
}

h3 {
    color: whitesmoke;
}
header {
    grid-column: 2 / 4;
    background-color: var(--BG-THIRD);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    box-shadow: var(--BOX-SHADOW);
}

.searchbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
}

.searchbar img {
    width: 30px;

}

input {
    border-radius: 15px;
    grid-column: 1/1;
}

.profile-notifications {
    grid-column: 2/2;
}
.button-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: var(--BACKGROUND-COLOR);
    color: whitesmoke;
    border-radius: 15px;
    height: 30px;
    width: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}

sidebar {
    background-color: var(--BACKGROUND-COLOR);
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 50px 250px 120px;
    padding: 10px;
}

sidebar h2, li {
color: whitesmoke;
}

sidebar li {
    list-style-type: none;
    padding: 10px;
}

sidebar ul img {
    width: 20px;
    display: inline-block;
    filter: invert(1);

}



sidebar a {
    text-decoration: none;
    color: whitesmoke;
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 10px;
    align-items: center;
}

sidebar li:hover {
    background-color: hsla(229, 64%, 44%, 0.63);
    border-radius: 5px;
}

article {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    margin: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;

}

.card {
    border-left: 5px solid rgb(243, 86, 38);
    border-radius: 5px;
    padding: 10px;
    height: clamp(250px 1rem 500px);
    background-color: var(--BG-THIRD);
    box-shadow: var(--BOX-SHADOW);

}

.card img {
    width: 25px;
}

.card-links {
display: flex;
justify-content:flex-end;
gap: 15px;
margin-top: 20px;
}

.updates-container {
    grid-column: 3 / 3;
    margin: 20px;
    
}

.announcements-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: var(--BOX-SHADOW);
    background-color: var(--BG-THIRD);
    margin-top: 10px;
    

}

.trending-container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    box-shadow: var(--BOX-SHADOW);
    background-color: var(--BG-THIRD);
}

.update-card {
    padding: 10px;

}

.trending-card {
    margin: 10px 0;

}